<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.ITaskDao">
    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.Task">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="topic" property="topic"/>
        <result column="message_id" property="messageId"/>
        <result column="message" property="message"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.Task">
        INSERT INTO task
        (user_id, topic, message_id, message, state, create_time, update_time)
        VALUES
        (#{userId}, #{topic}, #{messageId}, #{message}, #{state}, NOW(), NOW())
    </insert>


    <update id="updateTaskSendMessageFail" parameterType="cn.bugstack.infrastructure.persistent.po.Task">
        UPDATE task
        SET state = 'fail', update_time = NOW()
        WHERE user_id = #{userId} AND message_id = #{messageId}
    </update>

    <update id="updateTaskSendMessageCompleted" parameterType="cn.bugstack.infrastructure.persistent.po.Task">
        UPDATE task
        SET state = 'completed', update_time = NOW()
        WHERE update_time= #{userId} AND message_id = #{messageId}
    </update>

    <select id="queryNoSendMessageTaskList" resultMap="dataMap">
        SELECT user_id, topic, message_id, message
        FROM task
        WHERE state = 'fail' OR (state = 'create' AND NOW() - update_time > 60000)
    </select>


</mapper>
